@using ToDoList.Entities
@model Category
@{
}

<h1>Update action Category</h1>
<form method="post">
    <label>
        Name:
        <input type="text" name="CategoryName" value="@Model.CategoryName"/>
    </label>
    <input type="submit" value="Ok" />
</form>